<div class="jumbotron masthead">
  <div class="container">
    <h1>nifsy</h1>
    <p>Ashal taree2a tebee3 we teshtery beeha 3al net.</p>
  </div>
</div>
<div class="container listings">
  <div class="category-bar"></div>
  <div class="row listings-container">
    <ul class="thumbnails listings">
    {{#each listings}}
      <li class="span4 listing">
        <a href="/listing/{{ this._id}}" class="thumbnail">
          <div class="item" style="background-image: url('{{ this.photos.[0].url }}');">
            <div class="price inner-glow">{{ this.price }} LE</div>
            <div class="itemdown">
              <div class="row-fluid">
                <div class="span2"> <span class="ownerimage"><img src="{{ this._owner.picture.listing }}" /></span> </div>
                <div class="span10 details"><span>{{this.title}}</span></div>
              </div>
            </div>
          </div>
        </a>
      </li>
    {{/each}}
    </ul>
  </div>
</div>
{{!> partial}}

{{#if user.facebook_provider.token}}
{{#extend "fbscripts"}}

{{/extend}}
{{/if}}