<!doctype html>
<html lang="en">
	<head>
		<title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

		<link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- Bootstrap CSS fixes for IE6 -->
    <!--[if lt IE 7]><link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap-ie6.min.css"><![endif]-->
    {{!<link href="/assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">}}
    <link href="/assets/css/main.css" rel="stylesheet">
		{{{block "style"}}}
	</head>
  <body>
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({
          appId      : '145309202292977',
          //channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html',
          status     : true, 
          cookie     : true,
          xfbml      : true
        });

        {{{block "fbscripts"}}}
        // Additional initialization code such as adding Event Listeners goes here

      };

      (function(d, debug){
         var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement('script'); js.id = id; js.async = true;
         js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
         ref.parentNode.insertBefore(js, ref);
       }(document, /*debug*/ false));
    </script>

    <div id="wrap">
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="/"></a>
            <div class="nav-collapse collapse">
              <a class="yellow btn pull-right addlisting" href="/listings/new">LIST YOUR ITEM</a>
              <ul class="nav pull-right">
                <li><a href="#">HOME</a></li>
                {{#if user}}
                <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <img width="20" height="20" id="header-profile-image" src="{{user.picture.navbar}}">
                    {{user.first_name}}
                    <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#">My Listings</a></li>
                    <li><a href="#">Edit Account</a></li>
                    <li><a href="/logout">Log out</a></li>
                  </ul>
                </li>
                {{else}}
                <li><a href="#">SIGN UP</a></li>
                <li><a href="/connect/facebook">LOGIN</a></li>
                {{/if}}
              </ul>
              <form class="navbar-search pull-left">
                <input type="text" class="search-query" placeholder="Search">
              </form>
            </div><!--/.nav-collapse -->
          </div>
        </div>
      </div>
      {{{body}}}
    </div>
    <div id="footer">
      <div class="container">
        <p class="muted credit">nifsy.com - <a href="#">About us</a> - <a href="#">Contact us</a> - <a href="#">Jobs</a></p>
      </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/app.js"></script>
    {{{block "scripts"}}}
  </body>
</html>